/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/node_modules
/public/*
!/public/index.php
!/public/.htaccess
!/public/robots.txt
!/public/web.config
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/.idea
/.vscode
/.vagrant
*.code-workspace
composer.lock
.swp
.php_cs.cache
thumbs.db
/resources/icons/_optimized
composer.local.json
/resources/img/animations
/draft.yaml
/.blueprint
.phpactor.json
