$primary: #edb01f;
$secondary: #6298d4;
$light-secondary: #8bb3df;
$success: #3eed21;
$danger: #ed2121;
$dark-50: #F2F1ED;
$dark-100: #E9E8E2;
$dark-200: #CFCCBF;
$dark-300: #B4B09C;
$dark-400: #A19982;
$dark-500: #928772;
$dark-600: #827564;
$dark-700: #6D6055;
$dark-800: #59504A;
$dark-900: #4A4440;
$dark-950: #2A2522;

:root {
    --primary: #{$primary};
    --secondary: #{$secondary};
    --dark-50: #{$dark-50};
    --dark-200: #{$dark-200};
    --dark-100: #{$dark-100};
    --dark-400: #{$dark-400};
    --dark-300: #{$dark-300};
    --dark-600: #{$dark-600};
    --dark-500: #{$dark-500};
    --dark-800: #{$dark-800};
    --dark-700: #{$dark-950};
    --dark-950: #{$dark-950};
    --dark-900: #{$dark-900};
}
