$xxxl: 3rem; // 48px
$xxl: 2rem; // 32px
$xl: 1.5rem; // 24px
$l: 1.125rem; // 18px
$m: 1rem; // 16px
$s: 0.875rem; // 14px
$xs: 0.75rem; // 12px

$gap: 1.5rem; // 24px
$spacer: 0.5rem; // 8px
$grid-width: 75rem; // 1200px

$bp-xl: 1200px;
$bp-l: 920px;
$bp-m: 760px;
$bp-s: 640px;
$bp-xs: 480px;
