@use "mixins";
@use "colors";
@use "sizes";

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: "inter", sans-serif;
    font-size: sizes.$l;
    overflow-x: auto;
    overflow-y: auto;
    color: colors.$dark-950;
    position: relative;
    min-height: 100%;


    @media (max-width: sizes.$bp-s) {
        font-size: sizes.$m;
    }
}

.wrapper {
    width: 85.7142857143%;
    max-width: sizes.$grid-width;
    margin: 0 auto;
}

.sro {
    @include mixins.hidden();
}

.wysiwyg {
    & > * {
        & + p,
        & + img,
        & + table,
        & + ul,
        & + ol,
        & + blockquote {
            margin: 1.75em 0;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-weight: 600;
    }

    h3 {
        font-size: sizes.$xl;
        line-height: 140%;
        margin: 1.4em 0 sizes.$m;
        letter-spacing: -0.336px;
    }

    p {
        font-size: sizes.$l;
        line-height: 150%;
        color: colors.$dark-950;
    }

    figure a {
        box-shadow: none;
    }

    a {
        color: colors.$dark-950;
        position: relative;
        box-shadow: 0 2px 0 0 colors.$secondary;
        text-decoration: none;
        transition: box-shadow 200ms ease-in-out;

        &:hover,
        &:focus {
            box-shadow: 0 1px 0 0 transparent;
        }
    }

    u {
        box-shadow: 0 1px 0 0 transparent;
        text-decoration: none;
    }
    span {
        text-decoration: none !important;
    }

    em {
        font-style: italic;
    }

    strong {
        font-weight: 700;
    }

    figcaption {
        font-size: sizes.$s;
        line-height: 150%;
        margin-top: 0.75em;
    }

    ol,
    ul {
        padding-left: sizes.$gap;

        li {
            padding: 0 0 0 sizes.$s;
            position: relative;
            margin: sizes.$spacer 0;
        }
    }

    ol {
        list-style-type: decimal;

        ul {
            list-style-type: disc;
        }
    }

    ul {
        list-style-type: disc;
    }

    blockquote {
        text-align: left;
        line-height: 120%;
        margin-left: sizes.$spacer * 4;

        footer {
            margin-top: sizes.$l;
            font-size: sizes.$s;
        }
    }

    img {
        width: 100%;
        height: auto;
        border-radius: sizes.$spacer;
    }

    table {
        width: 100%;
        font-size: sizes.$l;
        text-align: left;

        thead {
            font-weight: 600;
        }

        tr {
            border-bottom: 1px solid colors.$dark-500;
        }

        td {
            padding: sizes.$s 0 sizes.$s;
        }

        th {
            padding-bottom: sizes.$s;
        }
    }
}

@supports selector(div:focus-visible) {
    /* uniquement au clic/tap focus */
    *:focus:not(:focus-visible) {
        box-shadow: none;
    }
    /* uniquement au focus clavier */
    *:focus-visible {
        box-shadow: inset 0 0 0 2px colors.$secondary !important;
    }
}
