@use "../config/colors" as colors;
@use "../config/sizes" as sizes;

.button {
    background-color: colors.$primary;
    padding: 1em;
    font-size: sizes.$s;
    font-weight: 700;
    color: colors.$dark-700;
    text-decoration: none;
    border-radius: 4px;
    text-transform: uppercase;
    width: 15%;
    min-width: 11.25rem;
    display: block;
    text-align: center;
    border: none;

    position: relative;

    box-shadow: 8px 8px 0px 0px #3f3f46;

    transition: box-shadow 150ms ease;

    &:hover, &:focus {
        box-shadow: 0px 0px 0px 0px #3f3f46;
    }

    &--big {
        font-size: sizes.$l;
    }

    &[disabled] {
        background-color: colors.$dark-400;
        cursor: not-allowed;
        pointer-events: none;
    }

    &--loading {
        text-indent: -99999px;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            border: 3px solid colors.$dark-700;
            border-color: colors.$dark-700 colors.$dark-700 colors.$dark-700 transparent;
            animation: spin 1s linear infinite;
        }
    }

    &--secondary {
        background-color: colors.$secondary;
    }

    @media (max-width: sizes.$bp-s) {
        &--big {
            font-size: sizes.$m;
        }
    }

    @keyframes spin {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }

    }
}
