@use "../config/colors" as colors;
@use "../config/sizes" as sizes;

.contact {
    padding: sizes.$gap * 5 0;
    min-height: 60vh;
    display: grid;
    place-items: center;
    .wrapper .contact-form {
        padding: 0;
        min-height: auto;
    }

    & ~ .footer {
        margin-top: 0;
    }

    @media (max-width: sizes.$bp-m) {
        .wrapper .contact-form {
            width: 100%;
        }
    }
}
