@use "../config/colors" as colors;
@use "../config/sizes" as sizes;

.featured-works {
    margin: sizes.$spacer * 10 auto sizes.$gap * 15;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto sizes.$spacer * 4;
        width: 66%;
    }

    &__title {
        font-size: sizes.$xxl;
        font-weight: 700;
    }

    @media (max-width: sizes.$bp-s) {
        &__header {
            width: 100%;
        }

        &__title {
            font-size: sizes.$xl;
        }

        .work-card {
            width: 100%;
        }
    }
}
