@use "../config/colors" as colors;
@use "../config/sizes" as sizes;
@use "../config/typography" as typography;

.footer {
    margin-top: sizes.$gap * 5;
    &__container {
        padding: sizes.$gap;
        width: 66%;
        margin: 0 auto;
        border-top: 1px solid colors.$dark-200;
        display: flex;
        justify-content: space-between;
    }

    &__home-link, &__mailto, &__link {
        display: block;
        text-decoration: none;
        color: colors.$dark-950;
    }

    &__home-link {
        font-weight: 700;
        margin-bottom: sizes.$spacer;
    }

    &__mailto {
        font-size: sizes.$s;
    }

    &__links{
        display: flex;
        align-items: center;
        gap: sizes.$spacer;
    }

    &__link {
        font-size: sizes.$s;
        &--icon {
            font-size: 0;
            &::before {
                font-size: sizes.$s;
                color: colors.$dark-950;
                font-family: 'icons';
            }
        }

        &--linkedin {
            &::before {
                content: typography.$linkedin;
            }
        }

        &--github {
            &::before {
                content: typography.$github;
            }
        }
    }

    @media (max-width: sizes.$bp-l) {
        &__container {
            width: 100%;
        }
    }

    @media (max-width: sizes.$bp-s) {
        &__header {
            margin-bottom: sizes.$gap;
        }
        &__container {
            display: block;
        }
    }
}
