@use "../config/colors" as colors;

.gradient-effect {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #f5f3e9;

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        opacity: 1;
        background: url(../img/noise.png) repeat;
        mix-blend-mode: overlay;
    }


    &__gradient {
        position: absolute;
        opacity: 0.4;
        display: block;
        filter: blur(150px);
        z-index: -1;
        backface-visibility: hidden;
        min-width: 300px;
    }

    &__mouse-follow {
        width: 200px;
        height: 200px;
        position: fixed;
        top: 0;
        left: 0;
        border-radius: 100vw;
        z-index: -1;
        pointer-events: none;
        background-color: colors.$primary;
        filter: blur(70px);
        backface-visibility: hidden;
        opacity: 0;

        transition: background-color 400ms ease, width 400ms ease, height 400ms ease;

        &--active {
            background-color: colors.$secondary;
        }
    }

    &__gradient-1 {
        top: 0;
        right: 0;
        animation: float-1 5s ease-in-out infinite;
        width: 35.9027777778vw; //517px
        ellipse {
            fill: colors.$primary;
        }
    }

    &__gradient-2 {
        width: 30vw; //432px
        top: 80vh;
        left: 0;
        animation: float-2 6s ease-in-out infinite;
        ellipse {
            fill: colors.$primary;
        }
    }

    &__gradient-3 {
        width: 30vw; //432px
        top: 0;
        left: 0;
        animation: float-3 7s ease-in-out infinite;
        ellipse {
            fill: colors.$secondary;
        }
    }

    @keyframes float-1 {
        0% {
            transform: translate(80%, -60%) rotate(47.901deg);
        }
        50% {
            transform: translate(80%, -50%) rotate(47.901deg);
        }
        100% {
            transform: translate(80%, -60%) rotate(47.901deg);
        }
    }

    @keyframes float-2 {
        0% {
            transform: translate(-50%, -50%) rotate(105deg);
        }
        50% {
            transform: translate(-50%, -60%) rotate(105deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(105deg);
        }
    }

    @keyframes float-3 {
        0% {
            transform: translate(-30%, -50%) rotate(90deg);
        }
        50% {
            transform: translate(-30%, -40%) rotate(90deg);
        }
        100% {
            transform: translate(-30%, -50%) rotate(90deg);
        }
    }
}
