@use "../config/colors" as colors;
@use "../config/sizes" as sizes;
@use "sass:math";

.nav {
    display: flex;
    justify-content: space-between;
    &__items {
        display: flex;
        gap: sizes.$gap;
    }

    &__item {
        &--icon {
            display: none;
        }
    }

    &__link {
        text-decoration: none;
        color: colors.$dark-700;
        padding: sizes.$gap 0;
        display: block;
        position: relative;

        &:hover,
        &:focus {
            &::after {
                width: 80%;
            }
        }

        &::after {
            position: absolute;
            bottom: sizes.$l;
            left: 0;
            content: "";
            display: block;
            width: 0;
            height: 4px;
            background-color: colors.$secondary;
            border-radius: 100vw;
            transition: all 0.3s ease;
        }

        &--home {
            font-weight: 600;
            &::after {
                display: none;
            }
        }

        &--current::after {
            width: 60%;
        }

        &--icon {
            &::after {
                display: none;
            }
        }
    }

    @media (max-width: sizes.$bp-s) {
        flex-direction: column;
        padding: sizes.$spacer 0;
        &__link {
            padding: sizes.$spacer 0;
            &::after {
                position: absolute;
                bottom: math.div(sizes.$spacer, 2);
            }
        }

        &__item & {
            &__link {
                font-size: sizes.$s;
                text-transform: uppercase;
            }
        }
    }
}
