@use "../config/colors" as colors;
@use "../config/sizes" as sizes;
@use "../config/mixins" as mixins;

.skills {
    margin: 0 auto sizes.$gap * 2;

    &__title {
        font-size: sizes.$xxl;
        font-weight: 700;
        margin-bottom: sizes.$gap;
    }

    &__container {
        width: 66%;
        margin: 0 auto;
    }

    &__discipline-links {
        display: flex;
        margin-bottom: sizes.$gap * 2;
    }

    &__discipline-link {
        text-decoration: none;
        color: colors.$dark-950;

        & + & {
            margin-left: sizes.$spacer;
        }

        position: relative;

        &::after {
            position: absolute;
            bottom: -6px;
            left: 0;
            content: "";
            display: block;
            width: 0;
            height: 4px;
            background-color: colors.$secondary;
            border-radius: 100vw;
            transition: all 0.3s ease;
        }

        &--active {
            &::after {
                width: 40%;
            }
        }

        &:hover,
        &:focus {
            &::after {
                width: 80%;
            }
        }
    }

    &__disciplines {
        background-color: red;
        position: relative;
    }

    &__discipline {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: opacity 0.2s ease, transform 0.2s ease;
        transform: translateY(sizes.$spacer * 2);

        &--active {
            position: relative;
            opacity: 1;
            transform: translateY(0);
            z-index: 1;
        }
    }

    &__discipline-title {
        @include mixins.hidden();
    }

    &__technologies {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: sizes.$gap;
    }

    &__technology {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        min-width: 90px;
    }

    &__technology-link {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        text-indent: -99999px;
    }

    &__technology-link:hover ~ &__technology-image,
    &__technology-link:focus ~ &__technology-image {
        transform: translateY(0);
    }

    &__technology-link:hover ~ &__technology-title,
    &__technology-link:focus ~ &__technology-title {
        opacity: 1;
        transform: translateY(0);
    }

    &__technology-image {
        display: block;
        width: auto;

        height: 48px;
        max-width: 50px;
        margin-bottom: sizes.$spacer * 2;
        order: -1;
        transform: translateY(15px);
        transition: transform 200ms ease;
    }

    &__technology-title {
        text-decoration: none;
        font-size: sizes.$s;
        color: colors.$dark-950;
        text-transform: uppercase;
        font-weight: 700;
        opacity: 0;
        transition: all 200ms ease;
        transform: translateY(15px);
    }

    @media (max-width: sizes.$bp-s) {
        &__container {
            width: 100%;
        }

        &__disciplines {
            min-height: 282px;
            position: relative;
        }

        &__title {
            font-size: sizes.$xl;
        }
    }
}
